

.App {
  padding: 60px 0 100px;
  max-width: 960px;
  margin: 0 auto;
  background: #eeeaf9;
}

.App-logo {
  max-width: 150px;
  display: block;
  margin: 10px auto;
}

.App footer {
  text-align: center;
  margin-top: 20px;
  font-size: 13px;
}

.App a {
  color: #6C63FF;
}


